* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
    --blue: #0ea5e9;
    --gray: #d1d5db;
    --orange: orange;
}

body {
    display: grid;
    grid-template-columns: 35vh 1fr;
    grid-template-rows: 20vh 1fr;
    height: 100vh;
}

/** 

    
    SIDEBAR 


**/
.sidebar {
    background-color: var(--blue);
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 10vh repeat(10, 5vh);
    justify-content: center;
    color: white;
}

.sidebar .logo {
    font-size: 2rem;
}

.sidebar div:not(.logo):hover {
    font-size: 1.5rem;

}

.sidebar a {
    justify-self: center;
    display: grid;
    grid-template-columns: 30%;
    grid-auto-flow: column;
    align-items: center;
}

img {
    /* Change color to white (svg) */
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(75deg) brightness(105%) contrast(101%);
}

.logo img {
    height: 48px;
    width: 48px;
    margin-left: -10px;
}

/** 

    CONTENT 


**/
.content {
    background-color: var(--gray);
    grid-row: 2;
    grid-column: 2;
}