* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
    --blue: #0ea5e9;
    --gray: #d1d5db;
    --orange: orange;
}

body {
    display: grid;
    grid-template-columns: clamp(250px, 15rem, 300px) 1fr;
    grid-template-rows: 25vh 1fr;
    height: 100vh;
}

/** 

    
    SIDEBAR 


**/
.sidebar {
    background-color: var(--blue);
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 10vh repeat(10, 5vh);
    justify-content: center;
    color: white;
}

.sidebar .logo {
    font-size: 2rem;
}

.sidebar div:not(.logo):hover {
    font-size: 1.5rem;

}

.sidebar a {
    justify-self: center;
    display: grid;
    grid-template-columns: 30%;
    grid-auto-flow: column;
    align-items: center;
}

.sidebar img {
    /* Change color to white (svg) */
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(75deg) brightness(105%) contrast(101%);
}

.logo img {
    height: 48px;
    width: 48px;
    margin-left: -10px;
}

/** 

    HEADER 


**/
.header {
    display: grid;
    grid-template-rows: 1fr 1.25fr;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}

.up {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.up .search, .up .right {
    display: flex;
    font-size: 1rem;
    align-items: center;
    flex:  1;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.up .profile:hover {
    opacity: 50%;
}

.up .right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* to align with button*/
    margin-right: 30px;
}

.search img {
    margin-right: 20px;
}


#input_text {
    flex: 1;
    background-color: var(--gray);
    border: none;
    border-radius: 15px;
    height: 2rem;
    font-size: 1.3rem;
    padding-left: 10px;
}

.up img {
    height: 64px;
    width: 64x;
    border-radius: 45%;
}

.up .svg {
    height: 44px;
    width: 44px;
}

.up .svg:hover {
    opacity: 40%;
}

.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down .left, .down .right {
    display: grid;
    grid-auto-flow: column;
    white-space: pre-line;
    grid-gap: 20px;
}

.down button {
    font-weight: bold;
    background-color: var(--blue);
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
}

.down button:hover {
    opacity: 60%;
}

.down img {
    height: 80px;
    width: 80px;
    border-radius: 45%;
}

.content {
    background-color: var(--gray);
    grid-row: 2;
    grid-column: 2;
}
